.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
.overlay form {
  position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 750px;
    height: 350px;
    background-color: white;
    border-radius: 15px;
    border: 3px solid black;
    padding-top: 25px;
  }

  .overlay form label {
    font-size: 20px;
    font-family: "Arial", sans-serif;
    display: flex;
    align-items: center;
    margin: 5px 30% 5px 0;
  }

  .overlay form input {
    margin-left: 10px;
    border-radius: 10px;
    height: 40px;
    cursor: pointer;
    border: 3px solid purple;
    box-shadow: none;
    font-size: 20px;
    font-family: "Arial", sans-serif;
  }

  .overlay form buttom {
    margin: 0 auto !important;
  }

  .close-button {
    position: absolute;
    top: -8%;
    right: 3%;
    background: transparent;
    border: none !important;
    font-size: 20px;
    cursor: pointer;
    width: 20px !important;
  }

  .fieldError {
    color: red;
    font-size: 20px;
    font-family: "Arial", sans-serif;
    margin-top: -5px !important;
    margin-bottom: -18px !important;
  }
